/* Variables */

$color-one: #FED136;
$color-two: #FFFFFF;
$color-three: #222222;
$color-four: #F7F7F7;
$color-five: #777777;

$font-one: 'Noto Sans Display', sans-serif;
$font-two: 'EB Garamond', serif;
$font-three: 'Lobster', cursive;

$transition: all 1s;

/* Global */

*, *::before, *::after {
   box-sizing: border-box;
}

body {
    margin: 0; 
    font-size: 20px;
    line-height: 1.7;
    text-align: center;
    font-family: $font-one;
    letter-spacing: 1px;
}

.container {
   max-width: 1140px;
   padding: 20px 0;
   margin: 0 auto;
}

section {
   padding: 96px 0;
}

/* Navigation */

.navigation {
   height: 100vh;
   position: relative;
   background-image: url('/images/www.madebyvadim.com.jpg');
   background-position: center center;
   background-size: cover; 
}

.navigation::before {
 content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(41, 41, 41, 0.5);
}

.nav-menu {
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
   .nav-logo {
      position: relative;
      color: $color-one;
      text-decoration: none;
      font-family: $font-three;
      font-size: 28px;
      padding-left: 85px;
   }
}

.nav-menu { 
   ul {
      display: flex;
      padding: 0 0 0 0;
      margin: 0;
   }
}

.nav-menu {
   li {
      list-style-type: none;
      padding: 0 20px;
      position: relative;
   }
}

.nav-menu {
   a {
      text-decoration: none;
      font-family: $font-one;
      color: $color-four;
      font-size: 17px;
   }
}

.nav-menu {
   a:hover {
      color: $color-one;
   }    
}  

.nav-menu {
   ul {
      ul {
         flex-direction: column;
         display: none;
         li {
            padding: 0;
            margin: 0;   
         }
      }
   }
}

.nav-menu {
   li:hover {
      ul {
         position: absolute;
         display: block;
         padding: 5px;
         background-color: $color-three;
         border-radius: 5px;
      }
   }
}

/* Splash */

.header-title {
   position: absolute;
   width: 100%;
   top: 54%;
   left: 50%;
   transform: translate(-50%,-50%);
}

.page-title {
   color: $color-four;
   font-family: $font-two;
   font-size: 38px;
   font-style: italic;
   font-weight: 300;
   word-spacing: 5px;
   letter-spacing: 3.5px;
   margin: 0;
}

.page-title-two {
   color: $color-four;
   font-family: $font-one;
   font-size: 70px;
   word-spacing: 10px;
   letter-spacing: 3.3px;
   margin: 0 0 65px 0;
}

.botton {
   display: inline-block;  
    min-width: 160px;
    margin: 24 auto 0 auto;
    padding: 16px 45px;
    font-size: 18px;
    font-family: $font-one;
    text-align: center;
    text-decoration: none;
    color: $color-four;
    background-position: 100% 0;
    background-size: 300%;
    background-color: $color-one;
    transition: 1s;
    border-radius: 4px;
}

.botton:hover {
   color: $color-one;
   background-color: $color-three;
   transform: scale(1.1);
}

/* Services */

