/* Variables */

$color-one: #FED136;
$color-two: #FFFFFF;
$color-three: #222222;
$color-four: #F7F7F7;
$color-five: #777777;

$font-main: 'Roboto', sans-serif;
$font-lite: 'Lobster', cursive;

$transition: all 1s;

/* Global */

*, *::before, *::after {
   box-sizing: border-box;
}

body {
    margin: 0; 
    font-size: 20px;
    line-height: 1.7;
}

.container {
   max-width: 1140px;
   padding: 20px 0;
   margin: 0 auto;
}

section {
   padding: 96px 0;
}

/* Navigation */

.navigation {
   height: 100vh;
   position: relative;
   background-image: url('/images/www.madebyvadim.com.jpg');
   background-position: center center;
   background-size: cover; 
}

.nav-menu {
   display: flex;
   justify-content: space-between;
   padding-top: 30px;
   .nav-logo {
       color: $color-one;
      text-decoration: none;
      font-family: $font-lite;
      font-size: 28px;
      padding-left: 85px;
   }
}

.nav-menu { 
   ul {
      display: flex;
      padding: 0 0 0 0;
      margin: 0;
   }
}

.nav-menu {
   li {
      list-style-type: none;
      padding: 0 20px;
      position: relative;
   }
}

.nav-menu {
   a {
      text-decoration: none;
      font-family: $font-main;
      color: $color-four;
      font-size: 17px;
      font-family: $font-main;
   }
}

.nav-menu {
   a:hover {
      color: $color-one;
   }    
}  

.nav-menu {
   ul {
      ul {
         flex-direction: column;
         display: none;
         li {
            padding: 0;
            margin: 0;   
         }
      }
   }
}

.nav-menu {
   li:hover {
      ul {
         position: absolute;
         display: block;
         padding: 5px;
         background-color: $color-three;
         border-radius: 5px;
      }
   }
}
